@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary:#1E434E;
    --secondary:#56B0DE;
    --accent-1:#A031B3;
    --accent-2:#EBECE6;
    --standard-text:var(--primary);
    --colored-text-background:var(--secondary);
    --colored-background-text:var(--accent-2);
    --nav-background:var(--primary);
    --nav-hover:var(--accent-1);
    --nav-text:var(--accent-2);
    --heading-font:"Montserrat Alternates",Verdana;
    --text-font:"Montserrat", Tahoma;
}
h1,h2{
    font-family:var(--heading-font);
}
p,a{
    font-family:var(--text-font)
}
body{
 margin: 0px;
 padding:0px;
 width:100%;
}
header{
    background-color:var(--nav-background);
    color:var(--colored-background-text);
    display:grid;
    grid-template-columns:100px 1fr auto;
    width:100%;
}
.logo{
    width:100px;
}
nav{
    display:flex;
    grid-column-start:3;
    grid-column-end:4;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color:var(--colored-background-text);
    place-content:center;
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}
nav a:hover{
    background-color:var(--nav-hover)
}
#hero-section{
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
    margin-top:20px;
    text-align:center;
    margin-left:50px;
    margin-right:50px;
    width:100%;
}
#hero-section img{
    grid-row:1/3;
    grid-column:1/4;
    width:95vw;
}
#hero-section h1{
    grid-row:1/2;
    grid-column:2/3;
    order:1;
    color:var(--colored-background-text);
}
#hero-section p{
    grid-row:2/3;
    grid-column:2/3;
    color:var(--colored-background-text);
    
}
#project-section{
    display:grid;
    column-gap:25px;
    margin-left:50px;
    margin-right:50px;
    margin-top:15px;
    align-items:stretch;
    grid-template-columns:50% 50%;
    width:95vw-25px;
}
#project-section img{
    width:100%;
    grid-row:1/2;
}
#project-section h2{
    grid-row:2/3;
    margin:0px;
    border:solid black 1px;
    border-bottom:none;
    padding-top:20px;
}
#project-section p{
    grid-row:3/4;
    border:solid black 1px;
    border-bottom:none;
    border-top:none;
    margin:0px;
    padding-top:20px;
}
#project-section div{
    border:solid black 1px;
    margin:0px;
    border-top:none;
    padding-top:20px;
    text-align:center;
    padding-bottom:20px;
}
#project-section a{
    grid-row:4/5;
    place-self:center;
    text-decoration:none;
    color:var(--colored-background-text);
    background-color: var(--colored-text-background);
    padding:5px;
    border-radius:5px;
}
.physics{
    grid-column:1/2;
}
.programming{
    grid-column:2/3;

}
.programming h2{
    border-bottom:none;
}
footer{
    background-color: var(--nav-background);
    display:grid;
    width:100%;
    grid-template-columns:300px 1fr 1fr 1fr;
    color:var(--colored-background-text);
    margin-top:30px;
}
footer img{
    width:100%;
    grid-row:1/4;
}
footer nav{
    grid-column:2/3;
    grid-row:2/3;
}
footer nav a{
    box-sizing:border-box;
    width: 100%;
}
footer p{
    text-align:center;
}
#copy{
    grid-column:2/3;
}
.child-project-card{
    display:grid;
    grid-template-columns:3fr 4fr;
    column-gap:30px;
    margin-top:50px;
    margin-bottom:50px;

}
.child-project-image{
    height:100%;
}
.child-project-image img{
    width:100%;
}
.subpage{
    width:70vw;
    margin-left:50px;
}
.subpage h1{
    text-align:center;
}
.subpage a{
    text-decoration:none;
    color:var(--colored-background-text);
    background-color:var(--colored-text-background);
    padding:7.5px;
    border-radius:10px;
}